In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("dataset-2007.csv", error_bad_lines=False)
df.head(5)

,Year,Month,Day,Hour,Minute,power (MW),wind direction at 100m (deg),wind speed at 100m (m/s),air temperature at 2m (K),surface air pressure (Pa),density at hub height (kg/m^3)
0,2007,1,1,0,0,0.086,247.697,3.430,266.641,78574.576,0.994
1,2007,1,1,0,5,0.058,248.791,3.214,266.583,78576.408,0.994
2,2007,1,1,0,10,0.044,248.666,2.988,266.504,78580.984,0.994
3,2007,1,1,0,15,0.034,248.354,2.820,266.424,78583.736,0.995
4,2007,1,1,0,20,0.028,248.596,2.716,266.363,78582.824,0.995

In [4]:
df.isnull().sum()

Year                                 0
Month                                0
Day                                  0
Hour                                 0
Minute                               0
power (MW)                        9374
wind direction at 100m (deg)         0
wind speed at 100m (m/s)             0
air temperature at 2m (K)            0
surface air pressure (Pa)            0
density at hub height (kg/m^3)       0
dtype: int64

In [11]:
from sklearn.preprocessing import Imputer as impu
imp = impu(missing_values='NaN', strategy='mean', axis=0)
df.iloc[:,5:10]=imp.fit_transform(df.iloc[:,5:10])

C:\Users\phantom.ofthe.utervs\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [12]:
df.isnull().sum()

Year                              0
Month                             0
Day                               0
Hour                              0
Minute                            0
power (MW)                        0
wind direction at 100m (deg)      0
wind speed at 100m (m/s)          0
air temperature at 2m (K)         0
surface air pressure (Pa)         0
density at hub height (kg/m^3)    0
dtype: int64

In [13]:
df.head()

,Year,Month,Day,Hour,Minute,power (MW),wind direction at 100m (deg),wind speed at 100m (m/s),air temperature at 2m (K),surface air pressure (Pa),density at hub height (kg/m^3)
0,2007,1,1,0,0,0.086,247.697,3.430,266.641,78574.576,0.994
1,2007,1,1,0,5,0.058,248.791,3.214,266.583,78576.408,0.994
2,2007,1,1,0,10,0.044,248.666,2.988,266.504,78580.984,0.994
3,2007,1,1,0,15,0.034,248.354,2.820,266.424,78583.736,0.995
4,2007,1,1,0,20,0.028,248.596,2.716,266.363,78582.824,0.995